body, html {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai', serif;
  color: #f1f3ce;
  background-color: #00293C;
}

h1 {
  font-size: 1.4em;
  margin-bottom: -.5em;
  color: #f1f3ce;
}
h2 {
  font-size: 1em;
}

div {
  margin: auto;
  text-align: left;
  width: 90%;
  padding: .1em;
}
a {
  box-shadow: .1em .1em black;
  text-decoration: none;
  text-indent: 1em;
  color: #f1f3ce;
  font-size: 20px;
  display: block;
  background: #1e656d;
  padding: .1em;
  margin: .1em;
  border: .1em solid black; 
  border-radius: .3em;
}
a:hover {
  background-color: #f62a00;
}
a:focus {
  background-color: #f1f3ce;
  color: #f62a00;
}

@media (min-width: 1201px) {
  div {
    width: 95%
  }
}
