.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.red-background {
  background-color: #ff1500;
  color: black;
}

.blue-background {
  background-color: #006aff;
  color: white;
}

.yellow-background {
  background-color: #eaff00;
  color: black;
}

.attachment-full {
  position: absolute;
  right: 0px;
  height: 149px;
  width: 149px;
}

.githubLabel {
  background-color: #00293C;
  border: none;
  width: 149px;
  height: 0px;
  position: absolute;
  right: 0px;
  margin-top: -10px;
}

@media (orientation: portrait) {
  .attachment-full {
    height: 99px;
    width: 99px;
  }

  .githubLabel {
    width: 99px;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .attachment-full {
    height: 99px;
    width: 99px;
  }

  .githubLabel {
    width: 99px;
  }
}
