.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.red-background {
  background-color: #ff0000;
  color: black;
}

.blue-background {
  background-color: #0000ff;
  color: white;
}

.yellow-background {
  background-color: #ffff00;
  color: black;
}
