.red {
  color: #00ff94;
}

.blue {
  color: white;
}

.yellow {
  color: white;
}

.text {
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
}

.author {
  margin-left: 10%;
  margin-right: 10%;
  font-style: oblique;
}

p {
  font-size: .7em;
  margin: auto;
}

@media (orientation: portrait) and (max-device-width: 767px) {
  p {
    font-size: .9em;
  }
}

@media (orientation: landscape) and (max-device-height: 450px) {
  p {
    font-size: .9em;
  }
}
