.TweetQuote {
  height: 45%;
  width: 45%;
  border: none;
  border-radius: 5px;
  font-size: 2.2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.TweetQuote:focus {
  outline: 0;
}

.red-background {
  background-color: #ff1500;
  color: #000000;
}

.blue-background {
  background-color: #006aff;
  color: #eaff00;
}

.yellow-background {
  background-color: #eaff00;
  color: #006bff;
}

.TweetQuote > a {
  margin: auto;
}

@media (orientation: portrait) and (max-device-width: 767px) {
  .TweetQuote {
    height: 40%;
  }
}

@media (orientation: landscape) and (max-device-height: 450px) {
  .TweetQuote {
    height: 60%;
  }
}
